html {
  text-align: center; font-family: Helvetica;
}
h1 {
  font-size: 70px;
}
h1, h2 {
  font-weight: bold;
}
h2 {
  font-size: 23px;
}
.Our-process { font-size: 32px;}
.font-color {
  color: white;
}
.font-color p {color: white;}
div {background-image: url("https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png");}
#smalltext {
  font-size: 11px;
}
.footer {
  background-color: dimgray; color: white; text-align:left;
}
#smalltex {font-size: 11px;}
.underline { text-decoration: underline;}
nav p {text-decoration: underline;}
p. {font-size: 14px;}
